@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --border: 214 32% 91%;
    --primary: 221 83% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 4%;
    --foreground: 214 32% 91%;
    --border: 217 33% 17%;
    --primary: 217 91% 60%;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-blue-100 dark:selection:bg-blue-900;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 dark:bg-slate-800 rounded-full hover:bg-slate-300 dark:hover:bg-slate-700;
}